
<div class="container">
  <div class="row">
    <div class="col-som-1">
      <div class="retour">
        <%= link_to "Mes recettes de la semaine", semaine_path(1)%>
        <br>
        <%= link_to "Toutes les recettes", recettes_path%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="wrapper-recette">
        <p class= "titre-ingredient">Ingrédients pour <%= @recette.nb_personne%> personnes</p>
        <% @doses.each do |dose| %>
          <li><%=  dose.quantite.truncate() %> <%= dose.ingredient %></li>
        <% end %>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="wrapper-recette text-center">
        <span class= "titre-recette"> <%= @recette.nom%></span>
          <div class="row">
          <div class="col-sm-12">
            <div class="bandeau">
              <span>Difficulté: <%= @recette.difficulté %></span>
              <span>Préparation: <%= @recette.preparation %> min</span>
              <span>Cuisson: <%= @recette.cuisson %> min</span>
            </div>
          </div>
        </div>
        <div class="display">
          <span class = "margin"> <%= cl_image_tag @recette.photo, height: 421, width: 282, crop: :fill %> </span>
          <%= @recette.instruction %>
        </div>
      </div>
    </div>

  </div>
</div>


