<div class="container">
  <div class="row">
    <div class="col-xs-2">
      Lundi
      <br>
      <%= @jours[0].recette.nom %>
    </div>
    <div class="col-xs-2">
      Mardi
      <br>
      <%= @jours[1].recette.nom %>
    </div>
    <div class="col-xs-2">
      Mercredi
      <br>
      <%= @jours[2].recette.nom %>
    </div>
    <div class="col-xs-2">
      Jeudi
      <br>
      <%= @jours[3].recette.nom %>
    </div>
    <div class="col-xs-2">
      Vendredi
      <br>
      <%= @jours[4].recette.nom %>
    </div>
    <div class="col-xs-2">
      Samedi
      <br>
      <%= @jours[5].recette.nom %>
    </div>
    <div class="col-xs-2">
      Dimanche
      <br>
      <%= @jours[6].recette.nom %>
    </div>
  </div>
</div>
