<div class="container">
  <div class="row">
    <div class="col-xs-2">
      Lundi
      <br>
      <%= link_to @jours[0].recette.nom, recette_path(@jours[0].recette) %>
    </div>
    <div class="col-xs-2">
      Mardi
      <br>
        <%= link_to @jours[1].recette.nom, recette_path(@jours[1].recette) %>
    </div>
    <div class="col-xs-2">
      Mercredi
      <br>
        <%= link_to @jours[2].recette.nom, recette_path(@jours[2].recette) %>
    </div>
    <div class="col-xs-2">
      Jeudi
      <br>
        <%= link_to @jours[3].recette.nom, recette_path(@jours[3].recette) %>
    </div>
    <div class="col-xs-2">
      Vendredi
      <br>
        <%= link_to @jours[4].recette.nom, recette_path(@jours[4].recette) %>
    </div>
    <div class="col-xs-2">
      Samedi
      <br>
        <%= link_to @jours[5].recette.nom, recette_path(@jours[5].recette) %>
    </div>
    <div class="col-xs-2">
      Dimanche
      <br>
        <%= link_to @jours[6].recette.nom, recette_path(@jours[6].recette) %>
    </div>
  </div>
</div>
