
<div class="container">
  <div class="row">


    <% for i in (1..@semaine.nbjour) do %>

      <div class="col-xs-3 spacing" align="center">
        <span class ="day">Repas <%= i %></span>
        <br>
        <% recette = @semaine.recettes[i-1] %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path recette.photo, height: 300, width: 400, crop: :fill %>');">
          <div class="card-category"><%= recette.difficulté %></div>
          <div class="card-description">
            <h2><%= recette.nom %></h2>
            <p> temps en cuisine: <%= recette.cuisson + recette.preparation %> min</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <%= link_to "", recette_path(recette), class: "card-link" %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<br>
<div class="centerbox">
  <%= link_to "Ma liste de course", semaine_listedecourse_path(@semaine), class: "btn btn-primary btn-sm" %>
  <%= link_to "Modifier le nombre de repas", semaines_nbjours_path, class: "btn btn-primary btn-sm" %>
</div>

